@using workflow
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, workflow
@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Admin.cshtml";
}

<link href="~/lib/el-ui/index.css" rel="stylesheet" type="text/css" />
<div id="execution"></div>
@section Scripts {
	<script setup>
		var execution_id = null;
		var process_version_id = '@ViewBag.id';
	</script>
}