@using workflow
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, workflow
@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Admin.cshtml";
}

<link href="~/lib/el-ui/index.css" rel="stylesheet" type="text/css" />
<div class="wait_loading">
    <div id="execution"></div>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script setup>
		var execution_id = '@ViewBag.execution_id';
		var process_version_id = '@ViewBag.process_version_id';
	</script>
}