@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Admin.cshtml";
}
<link href="~/lib/elfinder/css/admin.min.css" rel="stylesheet" />
<div id="user"></div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script setup>
		var data = {};
	</script>
}
