@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_Admin.cshtml";
}

<link href="~/lib/elfinder/css/admin.min.css" rel="stylesheet" />
<div id="user"></div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script setup>
		var data = @Html.Raw(Json.Serialize(Model));
		var groups = @Html.Raw(Json.Serialize(ViewData["RolesForThisUser"]));
		data.groups = groups;
		if (data.departments) {
			data.departments = data.departments.map(function (item) {
				return item.department_id.toString();
			})
		}
	</script>
}
