@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="row clearfix">
	<div class="col-12">
		<form method="POST" id="form">
			<section class="card card-fluid">
				<div class="card-header">
					<div class="d-inline-block w-100">
						<button type="submit" class="btn btn-sm btn-primary float-right">Save</button>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-8">
							<div class="form-group row">
								<b class="col-12 col-lg-2 col-form-label">Email:<i class="text-danger">*</i></b>
								<div class="col-12 col-lg-4 pt-1">
									<input class="form-control form-control-sm" type="text" name="email" placeholder="Email" readonly />
								</div>
							</div>

							<div class="form-group row">
								<b class="col-12 col-lg-2 col-form-label">FullName:<i class="text-danger">*</i></b>
								<div class="col-12 col-lg-4 pt-1">
									<input class="form-control form-control-sm" type="text" name="fullName" required="" placeholder="FullName" />
								</div>
							</div>
							<div class="form-group row">
								<b class="col-12 col-lg-2 col-form-label">Nhóm:</b>
								<div class="col-lg-4 pt-1">
									@Html.DropDownList("groups[]", (IEnumerable<SelectListItem>)ViewData["groups"], new
									{
										multiple = "true",
										data_placeholder = "Select Role",
										@class = "chosen form-control form-control-sm"
									})
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group row">
								<div class="col-12">
									<div class="card no-shadow border">
										<div class="card-header">
											Image
										</div>
										<div class="card-body text-center">
											<div id="image_url" class="image_ft"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="d-inline-block w-100">
						<button type="submit" class="btn btn-sm btn-primary float-right">Save</button>
					</div>
				</div>
			</section>
		</form>
	</div>
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	<link href="~/lib/elfinder/css/admin.min.css" rel="stylesheet" />
	<script type="text/javascript">
		var data = @Html.Raw(Json.Serialize(Model));
		var groups = @Html.Raw(Json.Serialize(ViewData["RolesForThisUser"]));
		data.groups = groups;
		if (data.equipments) {
			data.equipments = data.equipments.map(function (item) {
				return item.equipment_id;
			})
		}
		fillForm($("#form"),data);

		$("#image_url").imageFeature({
			'image':"/private/images/user.webp",
		});
		if (data.image_url) {
			$("#image_url").imageFeature("set_image", data.image_url);
		}
		$(document).ready(function(){

		})
	</script>

}
