@using workflow
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, workflow
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<link href="~/lib/el-ui/index.css" rel="stylesheet" type="text/css" />
<div id="app">
</div>

@section Scripts {
<script src="~/bundle/js/chunk-vendors.js"></script>
<script src="~/bundle/js/app.js"></script>
}