
<link href="~/lib/el-ui/index.css" rel="stylesheet" type="text/css" />
@using workflow
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, workflow
@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_Admin.cshtml";
}


<div id="app">

</div>

@section Scripts {
	<script setup>
		var process_id = '@ViewBag.id';
	</script>
}