
<template id="template_detail">
    <div class="row popup-setting-process-form">
        <div class="col">
            <section class="card card-fluid">
                <div class="card-header">
                    <div class="header-top">
                        <div class="current-step">
                            {{block.title}}
                        </div>
                        <div class="create-by flex-m" v-show="block.name == 'start'"><span>ID:&nbsp;</span><div class="line-hozi"></div><span>Người tạo:&nbsp;</span><div class="line-hozi"></div><span>Ngày tạo:&nbsp;</span></div>
                        <div class="py-2 flex-m" v-show="block.name != 'start'">
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fas fa-user-circle" style="font-size:14px;"></i> Người thực hiện
                                </a>
                                <div class="dropdown-menu" style="width:400px">
                                    <div class="p-3">
                                        <div class="my-2">
                                            <b>Người thực hiện:</b>
                                            <select class="form-control" v-model="block.type_performer">
                                                <option value="1">Người thực hiện bước trước</option>
                                                <option value="2">Người thực hiện bước trước tự chọn</option>
                                                <option value="3">Bộ phận</option>
                                                <option value="4">Người dùng</option>
                                            </select>
                                        </div>
                                        <div class="my-2" v-if="block.type_performer == 1 || block.type_performer == 2">
                                            <b>Bước:</b>
                                            <treeselect :options="get_options_blocks(scene.blocks)" v-model="block.data_setting.block_id"></treeselect>
                                        </div>
                                        <div class="my-2" v-if="block.type_performer == 4">
                                            <b>Người dùng:</b>
                                            <employee multiple :default_value="block.data_setting.listuser"
                                                      v-on:update="newValue => block.data_setting.listuser = newValue"></employee>
                                        </div>
                                        <div class="my-2" v-if="block.type_performer == 3">
                                            <b>Bộ phận:</b>
                                            <department multiple :default_value="block.data_setting.listdepartment"
                                                        v-on:update="newValue => block.data_setting.listdepartment = newValue"></department>
                                        </div>
                                        <div class="my-2">
                                            <b>
                                                Hướng dẫn thực hiện:
                                            </b>
                                            <textarea class="form-control" v-model="block.guide"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line-hozi"></div>
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-calendar-alt" style="font-size:14px;"></i> Thời hạn</a>
                                <div class="dropdown-menu" style="width:400px" aria-labelledby="dropdownMenuButton">>
                                    <div class="p-3">

                                        <div class="flex-m m-2">
                                            <div class="">Thời hạn xử lý</div>
                                            <div class="ml-auto">
                                                <div class="custom-control custom-switch switch-primary">
                                                    <input type="checkbox" class="custom-control-input" id="check" v-model="block.has_deadline">
                                                    <label class="custom-control-label" for="check"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-m m-2">
                                            <div class="">Bước có hạn xử lý sau:</div>
                                        </div>
                                        <div class="flex-m">
                                            <div class="mx-2">
                                                <b>Ngày</b>
                                                <input class="form-control" v-model="block.data_setting.days" :disabled="!block.has_deadline" />
                                            </div>
                                            <div class="mx-2">
                                                <b>Giờ</b>
                                                <input class="form-control" v-model="block.data_setting.hours" :disabled="!block.has_deadline" />
                                            </div>
                                            <div class="mx-2">
                                                <b>Phút</b>
                                                <input class="form-control" v-model="block.data_setting.minutes" :disabled="!block.has_deadline" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-left: auto;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body scrollbar" style="height:60vh;overflow:auto;">
                    <div class="field-content" v-if="block.name == 'form' || block.name == 'start'">
                        <draggable class="" v-model="fields" v-bind="dragFields">
                            <transition-group type="transition" name="flip-list">
                                <div class="item-control flex-m" v-for="(element,index) in fields" :key="element.id">
                                    <div class="handle icon-move"><i class="fas fa-grip-vertical"></i></div>
                                    <div class="control-preview-item background-sortable mb-2 ml-2 flex-m">
                                        <div class="form-input-data-preview mr-3 w-100">
                                            <div class="form-input-control flex-m">
                                                <div class="mb-2 custom-title-inline pr-2">
                                                    <div class="container-label">
                                                        <div class="container-left">
                                                            <div id="idControlName" class="font-weight-bold font-14 pr-2 d-inline-block">
                                                                <div style="">
                                                                    {{element.name}}
                                                                    <span class="text-danger" style="float: inherit;" v-if="element.is_require"> * </span>
                                                                </div>
                                                            </div>
                                                            <div class="btn-selectTion-guide icon icon-infor-blue cursor-pointer icon-control" style="color:#0c9cdd;float:right;" v-show="element.guide && element.guide != ''">
                                                                <div class="con-ms-tooltip" data-toggle="tooltip" data-placement="top" :data-original-title="element.guide">
                                                                    <i class="fas fa-info-circle"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-input-control-left w-100" v-if="element.type != 'table'">
                                                    <div v-if="element.type == 'number'">
                                                        <input class="form-control form-control-sm number" type='number' :value="element.has_default ? element.data_setting.default_value : ''" />
                                                    </div>
                                                    <div v-if="element.type == 'text'">
                                                        <input class="form-control form-control-sm text" type='text' :value="element.has_default ? element.data_setting.default_value : ''" />
                                                    </div>
                                                    <div v-if="element.type == 'email'">
                                                        <input class="form-control form-control-sm email" type='email' :value="element.has_default ? element.data_setting.default_value : ''" />
                                                    </div>
                                                    <div v-if="element.type == 'file'">
                                                        <input class="form-control form-control-sm file" type='file' />
                                                    </div>
                                                    <div v-if="element.type == 'date'">
                                                        <input class="form-control form-control-sm date" type='text' />
                                                    </div>
                                                    <div v-if="element.type == 'date_month'">
                                                        <input class="form-control form-control-sm date_month" type='text' />
                                                    </div>

                                                    <div v-if="element.type == 'date_time'">
                                                        <input class="form-control form-control-sm date_time" type='text' />
                                                    </div>

                                                    <div v-if="element.type == 'select'">
                                                        <treeselect :options="get_options(element.data_setting.options)" :value="element.has_default ? element.data_setting.default_value : ''"> </treeselect>
                                                    </div>

                                                    <div v-if="element.type == 'select_multiple'">
                                                        <treeselect :options="get_options(element.data_setting.options)" :value="element.has_default ? element.data_setting.default_value_array : []" multiple></treeselect>
                                                    </div>
                                                    <div v-if="element.type == 'textarea'">
                                                        <textarea class="form-control form-control-sm textarea" :value="element.has_default ? element.data_setting.default_value : ''"></textarea>
                                                    </div>

                                                    <div v-if="element.type == 'employee'">
                                                        <employee :default_value="element.has_default ? element.data_setting.default_value : ''"></employee>
                                                    </div>

                                                    <div v-if="element.type == 'employee_multiple'">
                                                        <employee :default_value="element.has_default ? element.data_setting.default_value_array : []" multiple></employee>
                                                    </div>

                                                    <div v-if="element.type == 'department'">
                                                        <department :default_value="element.has_default ? element.data_setting.default_value : ''"></department>
                                                    </div>

                                                    <div v-if="element.type == 'department_multiple'">
                                                        <department :default_value="element.has_default ? element.data_setting.default_value_array : []" multiple></department>
                                                    </div>

                                                    <div v-if="element.type == 'task'">
                                                        <div class="checkbox checkbox-success checkbox-circle" v-for="element in element.data_setting.options" :key="element.id">
                                                            <input :id="'task-' + element.id" type="checkbox">
                                                            <label :for="'task-' + element.id">
                                                                {{element.name}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div v-if="element.type == 'table'">

                                                <table class="table table-bordered mb-0 table-centered">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th class="border-top-0" v-for="(column,index1) in element.data_setting.columns" :key="column.id">
                                                                {{column.name}}
                                                                <span class="text-danger" v-if="column.is_require">*</span>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tr>
                                                        <td v-for="(column,index1) in element.data_setting.columns" :key="column.id">
                                                            <div v-if="column.type == 'stt'">
                                                                1
                                                            </div>
                                                            <div v-if="column.type == 'number'">
                                                                <input class="form-control form-control-sm number" type='number' />
                                                            </div>
                                                            <div v-if="column.type == 'text'">
                                                                <input class="form-control form-control-sm text" type='text' />
                                                            </div>
                                                            <div v-if="column.type == 'email'">
                                                                <input class="form-control form-control-sm email" type='email' />
                                                            </div>
                                                            <div v-if="column.type == 'date'">
                                                                <input class="form-control form-control-sm date" type='text' />
                                                            </div>
                                                            <div v-if="column.type == 'date_month'">
                                                                <input class="form-control form-control-sm date_month" type='text' />
                                                            </div>

                                                            <div v-if="column.type == 'date_time'">
                                                                <input class="form-control form-control-sm date_time" type='text' />
                                                            </div>
                                                            <div v-if="column.type == 'textarea'">
                                                                <textarea class="form-control form-control-sm textarea"></textarea>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="group-icon-right">
                                            <div class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#" v-on:click="edit(element)">Chỉnh sửa</a>
                                                    <a class="dropdown-item" href="#" v-on:click="copy(element)">Nhân bản</a>
                                                    <a class="dropdown-item text-danger" href="#" v-on:click="remove_field(element.id)">Xóa</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </transition-group>
                        </draggable>
                        <draggable class="list-group" :list="temps" group="fields" :class="{ 'active': active_box == true }" v-on:add="add"></draggable>
                    </div>
                    <div class="show-step-need-allow" v-if="block.name == 'approve'">
                        <div class="container-step pt-2">
                            <div class="text-center">

                                <div class="icon-pr-empty-approve" v-if="!block.blocks_approve || !block.blocks_approve.length"></div>
                                <div v-else class="text-left">
                                    <div class="accordion" id="accordionExample">
                                        <div class="item-approve" v-for="(block,index) in block.blocks_approve" :key="block.id">
                                            <div class="h-field-title h-acc" data-toggle="collapse" :data-target="'#block_'+block.id" aria-expanded="false">
                                                {{block.title}}
                                            </div>
                                            <div :id="'block_' + block.id" class="collapse show mx-5" style="">
                                                <div class="b control-preview-item gray" v-if="get_fields(block.id).length > 0">
                                                    <div class="form-input-data-preview my-2 w-100" v-for="(element,index1) in get_fields(block.id)" :key="element.id">
                                                        <div class="form-input-control flex-m">
                                                            <div class="mb-2 custom-title-inline pr-2">
                                                                <div class="container-label">
                                                                    <div class="container-left">
                                                                        <div id="idControlName" class="font-weight-bold font-14 pr-2 d-inline-block">
                                                                            <div style="">
                                                                                {{element.name}}
                                                                                <span class="text-danger" style="float: inherit;" v-if="element.is_require"> * </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="btn-selectTion-guide icon icon-infor-blue cursor-pointer icon-control" style="color:#0c9cdd;float:right;" v-show="element.guide && element.guide != ''">
                                                                            <div class="con-ms-tooltip" data-toggle="tooltip" data-placement="top" :data-original-title="element.guide">
                                                                                <i class="fas fa-info-circle"></i>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-input-control-left w-100" v-if="element.type != 'table'">
                                                                <div v-if="element.type == 'number'">
                                                                    <input class="form-control form-control-sm number" type='number' :value="element.has_default ? element.data_setting.default_value : ''" />
                                                                </div>
                                                                <div v-if="element.type == 'text'">
                                                                    <input class="form-control form-control-sm text" type='text' :value="element.has_default ? element.data_setting.default_value : ''" />
                                                                </div>
                                                                <div v-if="element.type == 'email'">
                                                                    <input class="form-control form-control-sm email" type='email' :value="element.has_default ? element.data_setting.default_value : ''" />
                                                                </div>
                                                                <div v-if="element.type == 'file'">
                                                                    <input class="form-control form-control-sm file" type='file' />
                                                                </div>
                                                                <div v-if="element.type == 'date'">
                                                                    <input class="form-control form-control-sm date" type='text' />
                                                                </div>
                                                                <div v-if="element.type == 'date_month'">
                                                                    <input class="form-control form-control-sm date_month" type='text' />
                                                                </div>

                                                                <div v-if="element.type == 'date_time'">
                                                                    <input class="form-control form-control-sm date_time" type='text' />
                                                                </div>

                                                                <div v-if="element.type == 'select'">
                                                                    <treeselect :options="get_options(element.data_setting.options)" :value="element.has_default ? element.data_setting.default_value : ''"> </treeselect>
                                                                </div>

                                                                <div v-if="element.type == 'select_multiple'">
                                                                    <treeselect :options="get_options(element.data_setting.options)" :value="element.has_default ? element.data_setting.default_value_array : []" multiple></treeselect>
                                                                </div>

                                                                <div v-if="element.type == 'textarea'">
                                                                    <textarea class="form-control form-control-sm textarea" :value="element.has_default ? element.data_setting.default_value : ''"></textarea>
                                                                </div>

                                                                <div v-if="element.type == 'employee'">
                                                                    <employee :default_value="element.has_default ? element.data_setting.default_value : ''"></employee>
                                                                </div>

                                                                <div v-if="element.type == 'employee_multiple'">
                                                                    <employee :default_value="element.has_default ? element.data_setting.default_value_array : []" multiple></employee>
                                                                </div>

                                                                <div v-if="element.type == 'department'">
                                                                    <department :default_value="element.has_default ? element.data_setting.default_value : ''"></department>
                                                                </div>

                                                                <div v-if="element.type == 'department_multiple'">
                                                                    <department :default_value="element.has_default ? element.data_setting.default_value_array : []" multiple></department>
                                                                </div>

                                                                <div v-if="element.type == 'task'">
                                                                    <div class="checkbox checkbox-success checkbox-circle" v-for="element in element.data_setting.options" :key="element.id">
                                                                        <input :id="'task-' + element.id" type="checkbox">
                                                                        <label :for="'task-' + element.id">
                                                                            {{element.name}}
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div v-if="element.type == 'table'">
                                                            <div class="">
                                                                <table class="table table-bordered mb-0 table-centered">
                                                                    <thead class="thead-light">
                                                                        <tr>
                                                                            <th class="border-top-0" v-for="(column,index1) in element.data_setting.columns" :key="column.id">
                                                                                {{column.name}}
                                                                                <span class="text-danger" v-if="column.is_require">*</span>
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tr>
                                                                        <td v-for="(column,index1) in element.data_setting.columns" :key="column.id">
                                                                            <div v-if="column.type == 'stt'">
                                                                                1
                                                                            </div>
                                                                            <div v-if="column.type == 'number'">
                                                                                <input class="form-control form-control-sm number" type='number' />
                                                                            </div>
                                                                            <div v-if="column.type == 'text'">
                                                                                <input class="form-control form-control-sm text" type='text' />
                                                                            </div>
                                                                            <div v-if="column.type == 'email'">
                                                                                <input class="form-control form-control-sm email" type='email' />
                                                                            </div>
                                                                            <div v-if="column.type == 'date'">
                                                                                <input class="form-control form-control-sm date" type='text' />
                                                                            </div>
                                                                            <div v-if="column.type == 'date_month'">
                                                                                <input class="form-control form-control-sm date_month" type='text' />
                                                                            </div>

                                                                            <div v-if="column.type == 'date_time'">
                                                                                <input class="form-control form-control-sm date_time" type='text' />
                                                                            </div>
                                                                            <div v-if="column.type == 'textarea'">
                                                                                <textarea class="form-control form-control-sm textarea"></textarea>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tbody>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cont-empty my-3"> Chọn bước cần phê duyệt </div>
                                <div class="row justify-content-center">
                                    <div class="col-4">
                                        <treeselect :options="get_options_blocks(scene.blocks)" v-model="block.data_setting.blocks_approve_id" multiple></treeselect>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-3 setting-layout-sidebar-content" v-show="block.name == 'start' || block.name == 'form'">
            <section class="card card-fluid">
                <div class="card-body" style="min-height:50vh">
                    <div class="">
                        <div class="font-15 font-weight-bold my-2 ml-3"> Biểu mẫu nhập liệu </div>
                        <div class="control-items flex">
                            <div class="sortable-cards dx-sortable">
                                <draggable class="list-group" :list="myArray" :group="{ name: 'fields', pull: 'clone', put: false }" :sort="false" v-on:start="start" v-on:end="end" :clone="clone">
                                    <div class="item-control" v-for="element in myArray" :key="element.type">
                                        <span v-html="element.icon"></span>
                                        <div class="name-control">{{element.name}}</div>
                                    </div>
                                </draggable>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div id="myModal" class="modal" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog" role="document" :class="{'modal-lg':temp_add.type == 'table'}">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">{{temp_add.description}}</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-lg-12 mt-2">
                                <b class="col-form-label">Tên trường:<span class="text-danger">*</span></b>
                                <div class="pt-1">
                                    <input class="form-control form-control-sm" type='text' name="name" required="" v-model="temp_add.name" />
                                </div>
                            </div>
                            <div class="col-lg-12 mt-2" v-if="temp_add.type == 'date' || temp_add.type == 'date_time' || temp_add.type == 'date_month'">
                                <b class="col-form-label">Kiểu dữ liệu:</b>
                                <div class="pt-1">
                                    <select class="form-control form-control-sm" v-model="temp_add.type">
                                        <option value="date">
                                            Ngày/Tháng/Năm
                                        </option>
                                        <option value="date_month">
                                            Tháng/Năm
                                        </option>
                                        <option value="date_time">
                                            Ngày/Tháng/Năm Giờ:Phút
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12 mt-2" v-if="temp_add.type == 'select' || temp_add.type == 'select_multiple' || temp_add.type == 'task'">
                                <b class="col-form-label">Danh sách giá trị:</b>
                                <div class="list-group-item">
                                    <draggable class="" v-model="temp_add.data_setting.options" v-bind="dragOptions">
                                        <transition-group type="transition" name="flip-list">
                                            <div class="flex-m mb-2" v-for="(option,index) in temp_add.data_setting.options" :key="option.id">
                                                <div class="handle icon-move mr-2" style="cursor:move;"><i class="fas fa-grip-vertical"></i></div>
                                                <input class="form-control form-control-sm" v-model="option.name" />
                                                <div class="ml-2 text-danger" style="cursor:pointer;" v-on:click="remove_option(index)" v-if="temp_add.data_setting.options.length > 1"><i class="fas fa-trash-alt"></i></div>
                                            </div>
                                        </transition-group>
                                    </draggable>

                                    <div class="btn-group"
                                         role="group"
                                         aria-label="Basic example">
                                        <button class="btn btn-secondary btn-sm" v-on:click="add_option($event)"><i class="fas fa-plus mr-2"></i> Thêm dòng</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mt-2" v-if="temp_add.type == 'select' || temp_add.type == 'select_multiple'">
                                <b class="col-form-label mr-3">Kiểu chọn giá trị:</b>

                                <div class="radio radio-primary form-check-inline">
                                    <input type="radio" id="inlineRadio1" value="select" name="radioInline" v-model="temp_add.type">
                                    <label class="mb-0" for="inlineRadio1"> Chọn một </label>
                                </div>
                                <div class="radio radio-primary form-check-inline">
                                    <input type="radio" id="inlineRadio2" value="select_multiple" name="radioInline" v-model="temp_add.type">
                                    <label class="mb-0" for="inlineRadio2"> Chọn nhiều </label>
                                </div>
                            </div>

                            <div class="col-lg-12 mt-2" v-if="temp_add.type == 'employee' || temp_add.type == 'employee_multiple'">
                                <b class="col-form-label mr-3">Kiểu chọn giá trị:</b>

                                <div class="radio radio-primary form-check-inline">
                                    <input type="radio" id="inlineRadio1" value="employee" name="radioInline" v-model="temp_add.type">
                                    <label class="mb-0" for="inlineRadio1"> Chọn một </label>
                                </div>
                                <div class="radio radio-primary form-check-inline">
                                    <input type="radio" id="inlineRadio2" value="employee_multiple" name="radioInline" v-model="temp_add.type">
                                    <label class="mb-0" for="inlineRadio2"> Chọn nhiều </label>
                                </div>
                            </div>

                            <div class="col-lg-12 mt-2" v-if="temp_add.type == 'department' || temp_add.type == 'department_multiple'">
                                <b class="col-form-label mr-3">Kiểu chọn giá trị:</b>

                                <div class="radio radio-primary form-check-inline">
                                    <input type="radio" id="inlineRadio1" value="department" name="radioInline" v-model="temp_add.type">
                                    <label class="mb-0" for="inlineRadio1"> Chọn một </label>
                                </div>
                                <div class="radio radio-primary form-check-inline">
                                    <input type="radio" id="inlineRadio2" value="department_multiple" name="radioInline" v-model="temp_add.type">
                                    <label class="mb-0" for="inlineRadio2"> Chọn nhiều </label>
                                </div>
                            </div>
                            <div class="col-lg-12 mt-2" v-if="temp_add.type == 'table'">
                                <div class="col-form-label mr-3">Thiết lập cột:</div>
                                <div class="list-group-item">
                                    <div class="flex-m mb-2">
                                        <div style="margin-left:25px;width:300px;"> Tên cột </div>
                                        <div style="margin-left:25px;width:300px;"> Kiểu dữ liệu </div>
                                        <div style="margin-left:25px;"> Bắt buộc </div>
                                    </div>
                                    <draggable class="" v-model="temp_add.data_setting.columns" v-bind="dragColumns">
                                        <transition-group type="transition" name="flip-list">
                                            <div class="flex-m mb-2" v-for="(column,index) in temp_add.data_setting.columns" :key="column.id">
                                                <div class="handle icon-move mr-2" style="cursor:move;"><i class="fas fa-grip-vertical"></i></div>

                                                <input class="form-control form-control-sm mr-2" v-model="column.name" />

                                                <select class="form-control form-control-sm mr-5" v-model="column.type">
                                                    <option value="stt">STT tăng dần</option>
                                                    <option value="text">Một dòng</option>
                                                    <option value="textarea">Nhiều dòng</option>
                                                    <option value="number">Số</option>
                                                    <option value="email">Email</option>
                                                </select>
                                                <div class="custom-control custom-switch switch-primary mr-2">
                                                    <input type="checkbox" class="custom-control-input" :id="column.id" v-model="column.is_require">
                                                    <label class="custom-control-label" :for="column.id"></label>
                                                </div>
                                                <div class="text-danger" style="cursor:pointer;" v-on:click="remove_column(index)" v-if="temp_add.data_setting.columns.length > 1"><i class="fas fa-trash-alt"></i></div>
                                            </div>
                                        </transition-group>
                                    </draggable>

                                    <div class="btn-group"
                                         role="group">
                                        <button class="btn btn-secondary btn-sm" v-on:click="add_column($event)"><i class="fas fa-plus mr-2"></i> Thêm cột</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mt-2">
                                <b class="col-form-label">Hướng dẫn nhập:</b>
                                <div class="pt-1">
                                    <textarea class="form-control form-control-sm" type='text' name="guide" v-model="temp_add.guide" placeholder="Nhập nội dung hướng dẫn"></textarea>
                                </div>
                            </div>
                            <template v-if="temp_add.type != 'table' && temp_add.type != 'task'">
                                <div class="col-lg-12 mt-2">
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox2" type="checkbox" v-model="temp_add.is_require">
                                        <label for="checkbox2">
                                            Trường bắt buộc
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-12 mt-2">
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox3" type="checkbox" v-model="temp_add.has_default">
                                        <label for="checkbox3">
                                            Giá trị mặc định
                                        </label>
                                    </div>
                                </div>
                            </template>
                            <div class="col-lg-12 mt-2" v-if="temp_add.type == 'task'">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox3" type="checkbox" v-model="temp_add.is_require">
                                    <label for="checkbox3">
                                        Bắc buộc hoàn thành toàn bộ công việc
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-12 mt-2" v-if="temp_add.type == 'text' && temp_add.has_default">
                                <input class="form-control form-control-sm" type='text' v-model="temp_add.data_setting.default_value" placeholder="Mặc định" />
                            </div>
                            <div class="col-lg-12 mt-2" v-if="temp_add.type == 'number' && temp_add.has_default">
                                <input class="form-control form-control-sm" type='number' v-model="temp_add.data_setting.default_value" placeholder="Mặc định" />
                            </div>
                            <div class="col-lg-12 mt-2" v-if="temp_add.type == 'email' && temp_add.has_default">
                                <input class="form-control form-control-sm" type='email' v-model="temp_add.data_setting.default_value" placeholder="Mặc định" />
                            </div>
                            <div class="col-lg-12 mt-2" v-if="temp_add.type == 'file' && temp_add.has_default">
                                <input class="form-control form-control-sm" type='file' />
                            </div>
                            <div class="col-lg-12 mt-2" v-if="temp_add.type == 'textarea' && temp_add.has_default">
                                <textarea class="form-control form-control-sm" type='text' v-model="temp_add.data_setting.default_value" placeholder="Mặc định"></textarea>
                            </div>
                            <div class="col-lg-12 mt-2" v-if="temp_add.type == 'select' && temp_add.has_default">
                                <treeselect v-model="temp_add.data_setting.default_value" :options="get_options(temp_add.data_setting.options)">
                                </treeselect>
                            </div>
                            <div class="col-lg-12 mt-2" v-if="temp_add.type == 'select_multiple' && temp_add.has_default">
                                <treeselect v-model="temp_add.data_setting.default_value_array" :options="get_options(temp_add.data_setting.options)" multiple>
                                </treeselect>
                            </div>
                            <div class="col-lg-12 mt-2" v-if="temp_add.type == 'employee' && temp_add.has_default">
                                <employee :default_value="temp_add.data_setting.default_value"
                                          v-on:update="newValue => temp_add.data_setting.default_value = newValue"></employee>
                            </div>

                            <div class="col-lg-12 mt-2" v-if="temp_add.type == 'employee_multiple' && temp_add.has_default">
                                <employee :default_value="temp_add.data_setting.default_value_array"
                                          v-on:update="newValue => temp_add.data_setting.default_value_array = newValue" multiple></employee>
                            </div>

                            <div class="col-lg-12 mt-2" v-if="temp_add.type == 'department' && temp_add.has_default">
                                <department :default_value="temp_add.data_setting.default_value"
                                            v-on:update="newValue => temp_add.data_setting.default_value = newValue"></department>
                            </div>
                            <div class="col-lg-12 mt-2" v-if="temp_add.type == 'department_multiple' && temp_add.has_default">
                                <department :default_value="temp_add.data_setting.default_value_array"
                                            v-on:update="newValue => temp_add.data_setting.default_value_array = newValue" multiple></department>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click="save_field($event)">Lưu lại</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
<script>
    var default1 = {
        data_setting:{
            default_value:null,
            default_value_array: []
        }
    };
    var template_detail = $("#template_detail").html();
    Vue.component('detail', {
         template:template_detail,
         props: {
             block: {
                 type: Object,
                 default: ()=>{}
             }
         },
         data:function(){
             return {
                 myArray:[
                     {
                         name: "Một dòng",
                         icon: '<i class="fas fa-window-minimize"></i>',
                         type: "text"
                     },
                     {
                         name: "Nhiều dòng",
                         icon: '<i class="fas fa-grip-lines"></i>',
                         type: "textarea"
                     },
                     {
                         name: "Chọn giá trị",
                         icon: '<i class="far fa-check-square"></i>',
                         type: "select"
                     },
                     {
                         name: "Thời gian",
                         icon: '<i class="fas fa-clock"></i>',
                         type: "date"
                     },
                     {
                         name: "Số",
                         icon: '<i class="fas fa-star"></i>',
                         type: "number"
                     },
                     {
                         name: "Bảng",
                         icon: '<i class="fas fa-table"></i>',
                         type: "table"
                     },
                     {
                         name: "Email",
                         icon: '<i class="fas fa-envelope"></i>',
                         type: "email"
                     },
                     {
                         name: "Tải tệp",
                         icon: '<i class="fas fa-upload"></i>',
                         type: "file"
                     },
                     {
                         name: "Nhân viên",
                         icon: '<i class="far fa-user-circle"></i>',
                         type: "employee"
                     },
                     {
                         name: "Bộ phận",
                         icon: '<i class="fas fa-network-wired"></i>',
                         type: "department"
                     },
                     {
                         name: "Công việc con",
                         icon: '<i class="fas fa-tasks"></i>',
                         type: "task"
                     }
                 ],
                 temps:[],
                 active_box:false,
                 temp_add:{},
                 drag:false
             }
         },
         computed:{
             dragOptions() {
                return {
                    animation: 0,
                    group: "select",
                    disabled: false,
                    ghostClass: "ghost",
                    tag:"div"
                };
             },
             dragColumns() {
                return {
                    animation: 0,
                    group: "table",
                    disabled: false,
                    ghostClass: "ghost",
                    tag:"div"
                };
             },
             dragFields() {
                return {
                    animation: 0,
                    group: "block_fields",
                    disabled: false,
                    handle: ".handle",
                    ghostClass: "ghost",
                    tag:"div"
                };
             },
             scene:{
                 get() {
                        return store.state.scene;
                  },
                  set(value) {
                        store.commit("SET_SCENE",value);
                  }

             },
             fields:{
                  get() {
                    var that = this;
                    var fields = store.state.fields;
                    fields = fields.filter(function(item){
                        return item.process_block_id == that.block.id;
                    });
                    fields = fields.map(function(item){
                        if(item.data_setting == null){
                            item.data_setting = default1;
                        }
                        return item;
                    });
                    //console.log("change")
                    return fields;
                  },
                  set(value) {

                    console.log("change")
                    var object = {block_id:this.block.id,fields:value}
                    store.dispatch("save_fields", object);
                  }
             },
         },
         mounted() {
            var that = this;
            $("#myModal").draggable({
                handle: ".modal-header"
            });
            initTooltipPlugin();
            if($(".date").length)
                $(".date").datetimepicker({
                    "allowInputToggle": true,
                    "showClose": true,
                    "showClear": true,
                    "showTodayButton": true,
                    "format": "DD/MM/YYYY",
                });
            if($(".date_time").length)
                $(".date_time").datetimepicker({
                    "allowInputToggle": true,
                    "showClose": true,
                    "showClear": true,
                    "showTodayButton": true,
                    "format": "MM/DD/YYYY hh:mm:ss A",
                });
            if($(".date_month").length)
                $(".date_month").datetimepicker({
                    "allowInputToggle": true,
                    "showClose": true,
                    "showClear": true,
                    "showTodayButton": true,
                    "format": "MM/YYYY",
                });

         },
         methods:{
            log: function(evt) {
                window.console.log(evt);
            },

            get_options_blocks(options){
                return options.map(function(item){
                    item.label = item.title;
                    return item;
                });
            },
            get_options(options){
                return options.map(function(item){
                    item.label = item.name;
                    return item;
                });
            },
            clone (el){
                 return {
                    id:rand(),
                    description: el.name,
                    name: "",
                    guide:"",
                    is_require:false,
                    has_default:false,
                    type: el.type,
                    process_id:id,
                    process_block_id:this.block.id,
                 }
            },
            add(evt){
                var index = evt.newIndex;
                var temp = this.temps[index];
                //console.log(temp);
                if(temp.type == "select" || temp.type == "task"){
                    default1.data_setting.options = [
                        {
                            id:rand(),
                            name : ""
                        },
                        {
                            id:rand(),
                            name : ""
                        }
                    ];
                }
                if(temp.type == "table"){
                    default1.data_setting.columns = [
                        {
                            id:rand(),
                            name : "STT",
                            type : "stt",
                            is_require : true
                        },
                        {
                            id:rand(),
                            name : "Tên",
                            type : "text",
                            is_require : false
                        },
                        {
                            id:rand(),
                            name : "Mô tả",
                            type : "textarea",
                            is_require : false
                        }
                    ];
                }
                var new_item = $.extendext(true,'replace',default1, temp);
                this.temp_add = new_item;
                $('#myModal').modal("show");
                //this.active_box = false;
            },
            edit(item){
                this.temp_add = $.extendext(true,'replace',{}, item);
                $('#myModal').modal("show");
            },
            copy(item){
                this.temp_add = $.extendext(true,'replace',{}, item,{id:rand()});
                $('#myModal').modal("show");
            },
            start (){
                this.active_box = true;
            },
            end(){
                this.active_box = false;
            },
            save_field(evt){
               $("#myModal").modal("hide");
               var item = $.extendext(true,'replace',{}, this.temp_add);
                store.dispatch("save_field",{
                    field : item
                });
               this.temp_add = {};
            },
            remove_field(id){
                store.dispatch("remove_field",id);
            },
            add_option(evt){
                evt.preventDefault();
                this.temp_add.data_setting.options.push({ id:rand(),name:""});
            },
            remove_option(index){
                this.temp_add.data_setting.options.splice(index, 1);
            },
            add_column(evt){
                evt.preventDefault();
                this.temp_add.data_setting.columns.push({ id:rand(),name:""});
            },
            remove_column(index){
                this.temp_add.data_setting.columns.splice(index, 1);
            },
            get_fields(block_id){
                var fields = store.state.fields;
                fields = fields.filter(function(item){
                    return item.process_block_id == block_id;
                });
                fields = fields.map(function(item){
                    if(item.data_setting == null){
                        item.data_setting = default1;
                    }
                    return item;
                });
                return fields;
            }
            //onChange(e,i,f){
            //   console.log(this.temp_add.data_setting.default_value);
            //}
         },
         updated(){
            var that = this;
            initTooltipPlugin();
            if($(".date").length)
                $(".date").datetimepicker({
                    "allowInputToggle": true,
                    "showClose": true,
                    "showClear": true,
                    "showTodayButton": true,
                    "format": "DD/MM/YYYY",
                });
            if($(".date_time").length)
                $(".date_time").datetimepicker({
                    "allowInputToggle": true,
                    "showClose": true,
                    "showClear": true,
                    "showTodayButton": true,
                    "format": "MM/DD/YYYY hh:mm:ss A",
                });
            if($(".date_month").length)
                $(".date_month").datetimepicker({
                    "allowInputToggle": true,
                    "showClose": true,
                    "showClear": true,
                    "showTodayButton": true,
                    "format": "MM/YYYY",
                });
         },
        //  watch: {
        //    block:{
        //        handler(newValue, oldValue) {
        //               console.log("chang2");
        //        },
        //        deep:true,

        //    }
        //}
     })
</script>