<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
    </title>
    <style>
        table p {
            margin: 5px;
        }
    </style>
</head>

<body>
    <div>

        <div class="WordSection1" style="padding:0px 100px;">

            <table class="MsoNormalTable" border="1" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%;border-collapse:collapse;border:none;mso-border-alt:solid windowtext .5pt;
 mso-yfti-tbllook:480;mso-padding-alt:0in 5.4pt 0in 5.4pt;mso-border-insideh:
 .5pt solid windowtext;mso-border-insidev:.5pt solid windowtext">
                <tbody>
                    <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;height:17.6pt">
                        <td width="41%" valign="top" style="width:41.36%;border:solid windowtext 1.0pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:17.6pt">
                            <p class="MsoNormal" align="center" style="text-align:center">
                                <span style="line-height:107%">
                                    Họ
                                    và tên người viết đơn:
                                </span><span style="line-height:107%;
  mso-fareast-font-family:&quot;Arial Unicode MS&quot;"><o:p></o:p></span>
                            </p>
                        </td>
                        <td width="31%" valign="top" style="width:31.14%;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:17.6pt">
                            <p class="MsoNormal" align="center" style="text-align:center">
                                <span style="line-height:107%">
                                    Mã số
                                    NV:<o:p></o:p>
                                </span>
                            </p>
                        </td>
                        <td width="27%" valign="top" style="width:27.5%;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:17.6pt">
                            <p class="MsoNormal" align="center" style="text-align:center">
                                <span style="line-height:107%;
  mso-fareast-font-family:&quot;Arial Unicode MS&quot;">Phòng/ Bộ phận<o:p></o:p></span>
                            </p>
                        </td>
                    </tr>
                    <tr style="mso-yfti-irow:1;mso-yfti-lastrow:yes;height:20.7pt">
                        <td width="41%" valign="top" style="width:41.36%;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:20.7pt">
                            <p class="MsoNormal" align="center" style="text-align:center"><span style="line-height:107%"><o:p>&nbsp;</o:p></span></p>
                        </td>
                        <td width="31%" valign="top" style="width:31.14%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:20.7pt">
                            <p class="MsoNormal" align="center" style="text-align:center"><span style="line-height:107%"><o:p>&nbsp;</o:p></span></p>
                        </td>
                        <td width="27%" valign="top" style="width:27.5%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:20.7pt">
                            <p class="MsoNormal" align="center" style="text-align:center">
                                <span style="line-height:107%;
  mso-fareast-font-family:&quot;Arial Unicode MS&quot;"><o:p>&nbsp;</o:p></span>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>


            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
150%">
                <b style="mso-bidi-font-weight:normal">
                    <span style="
line-height:150%">I. THỜI GIAN NGHỈ PHÉP<o:p></o:p></span>
                </b>
            </p>
            <p class="MsoNormal">
                Từ: ….. giờ…. ,ngày …./.…../……	Đến …..giờ.… , ngày…../….../……	Tổng số ngày nghỉ : …..
            </p>

            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
150%">
                <span style="line-height:150%;
mso-bidi-font-family:&quot;Times New Roman&quot;">
                    Tổng số phép năm……12…Phép
                    năm đã sử dụng ………….ngày, phép năm còn lại ……………ngày.<o:p></o:p>
                </span>
            </p>

            <p class="MsoNormal" style="line-height:normal">
                <span style="
mso-bidi-font-family:&quot;Times New Roman&quot;">
                    Loại
                    phép:<span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                </span><span style="mso-fareast-font-family:Wingdings;mso-bidi-font-family:
&quot;Times New Roman&quot;"></span><span style="mso-bidi-font-family:&quot;Times New Roman&quot;"> P – Nghỉ phép năm<span style="mso-tab-count:1"> </span><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="mso-fareast-font-family:Wingdings;
mso-bidi-font-family:&quot;Times New Roman&quot;"></span><span style="mso-bidi-font-family:&quot;Times New Roman&quot;">
                    CO –
                    Con ốm<o:p></o:p>
                </span>
            </p>

            <p class="MsoNormal" style="margin-left:.5in;text-indent:.5in;line-height:normal">
                <span style="mso-fareast-font-family:Wingdings;
mso-bidi-font-family:&quot;Times New Roman&quot;"></span><span style="mso-bidi-font-family:&quot;Times New Roman&quot;">
                    O –
                    Nghỉ ốm<span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                </span><span style="mso-fareast-font-family:Wingdings;
mso-bidi-font-family:&quot;Times New Roman&quot;"></span><span style="mso-bidi-font-family:&quot;Times New Roman&quot;">
                    Pr – Nghỉ
                    việc riêng hưởng lương (Hiếu-Hỷ)<o:p></o:p>
                </span>
            </p>

            <p class="MsoNormal" style="text-indent:1.0in;line-height:normal">
                <span style="mso-fareast-font-family:Wingdings;
mso-bidi-font-family:&quot;Times New Roman&quot;"></span><span style="mso-bidi-font-family:&quot;Times New Roman&quot;">
                    TS –
                    Nghỉ thai sản<span style="mso-tab-count:1">&nbsp; </span><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                </span><span style="mso-fareast-font-family:Wingdings;
mso-bidi-font-family:&quot;Times New Roman&quot;"></span><span style="mso-bidi-font-family:&quot;Times New Roman&quot;">
                    TN –
                    Nghỉ vì lý do tai nạn (Tai nạn lao động)<o:p></o:p>
                </span>
            </p>

            <p class="MsoNormal" style="margin-left:13.5pt;text-indent:58.5pt;line-height:
normal;tab-stops:.5in 1.0in 1.5in 2.0in 2.5in center 269.65pt">
                <span style="mso-fareast-font-family:Wingdings;
mso-bidi-font-family:&quot;Times New Roman&quot;"></span><span style="mso-bidi-font-family:&quot;Times New Roman&quot;">
                    KL –
                    Nghỉ không lương<span style="mso-spacerun:yes">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style="
mso-fareast-font-family:Wingdings;mso-bidi-font-family:&quot;Times New Roman&quot;"></span><span style="mso-bidi-font-family:&quot;Times New Roman&quot;">
                    NB – Nghỉ phép bù<o:p></o:p>
                </span>
            </p>

            <p class="MsoNormal" style="line-height:normal">
                <span style="
mso-bidi-font-family:&quot;Times New Roman&quot;">
                    Lý do nghỉ:
                    …………………………………………………Số ĐT liên hệ:<b style="mso-bidi-font-weight:
normal"> </b>…………………….<o:p></o:p>
                </span>
            </p>

            <p class="MsoNormal">
                <b style="mso-bidi-font-weight:normal">
                    <span style="line-height:107%">
                        II. BÀN
                        GIAO CÔNG VIỆC<i style="mso-bidi-font-style:normal"><o:p></o:p></i>
                    </span>
                </b>
            </p>

            <p class="MsoListParagraphCxSpFirst" style="margin-left:13.5pt;mso-add-space:
auto;text-align:justify;text-indent:-13.5pt;line-height:150%;mso-list:l1 level1 lfo3">
                <!--[if !supportLists]--><span style="line-height:150%;font-family:

                &quot;Times New Roman&quot;,serif"><span style="mso-list:Ignore">1.</span></span><!--[endif]-->
                <span style="line-height:150%;font-family:
&quot;Times New Roman&quot;,serif">
                    Các công việc <u>CÓ</u> bàn giao trong
                    thời gian nghỉ, <u>
                        NHÂN VIÊN/ ĐỒNG NGHIỆP CÙNG
                        CẤP
                    </u> giải quyết:<o:p></o:p>
                </span>
            </p>

            <table class="MsoNormalTable" border="1" cellspacing="0" cellpadding="0" style="
 width: 100%;
 border-collapse:collapse;
 border:none;
 mso-border-alt:solid windowtext .5pt;
 mso-yfti-tbllook:1184;
 mso-padding-alt:0in 5.4pt 0in 5.4pt;
 mso-border-insideh:
 .5pt solid windowtext;
 mso-border-insidev:.5pt solid windowtext
 ">
                <tbody>
                    <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;height:21.3pt">
                        <td width="43" style="width:32.15pt;border:solid windowtext 1.0pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:21.3pt">
                            <p class="MsoListParagraphCxSpMiddle" align="center" style="margin-left:0in;
  mso-add-space:auto;text-align:center">
                                <span style="
  line-height:115%;font-family:&quot;Times New Roman&quot;,serif">STT<o:p></o:p></span>
                            </p>
                        </td>
                        <td width="355" style="width:266.2pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:21.3pt">
                            <p class="MsoListParagraphCxSpMiddle" align="center" style="margin-left:0in;
  mso-add-space:auto;text-align:center">
                                <span style="
  line-height:115%;font-family:&quot;Times New Roman&quot;,serif">
                                    Nội
                                    dung công việc<o:p></o:p>
                                </span>
                            </p>
                        </td>
                        <td width="154" style="width:115.45pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:21.3pt">
                            <p class="MsoListParagraphCxSpMiddle" align="center" style="margin-left:0in;
  mso-add-space:auto;text-align:center">
                                <span style="
  line-height:115%;font-family:&quot;Times New Roman&quot;,serif">
                                    Người
                                    nhận bàn giao<o:p></o:p>
                                </span>
                            </p>
                        </td>
                        <td width="117" valign="bottom" style="width:87.55pt;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:21.3pt">
                            <p class="MsoListParagraphCxSpLast" align="center" style="margin-left:0in;
  mso-add-space:auto;text-align:center">
                                <span style="
  line-height:115%;font-family:&quot;Times New Roman&quot;,serif">
                                    Ghi
                                    chú<o:p></o:p>
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr style="mso-yfti-irow:1;mso-yfti-lastrow:yes;height:22.7pt">
                        <td width="43" style="width:32.15pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:22.7pt">
                            <p class="MsoListParagraphCxSpFirst" align="center" style="margin-left:0in;
  mso-add-space:auto;text-align:center"><b style="mso-bidi-font-weight:normal"><span style="line-height:115%;font-family:&quot;Times New Roman&quot;,serif"><o:p>&nbsp;</o:p></span></b></p>
                        </td>
                        <td width="355" style="width:266.2pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:22.7pt">
                            <p class="MsoListParagraphCxSpMiddle" style="margin-left:0in;mso-add-space:
  auto;text-align:justify"><b style="mso-bidi-font-weight:normal"><span style="line-height:115%;font-family:&quot;Times New Roman&quot;,serif"><o:p>&nbsp;</o:p></span></b></p>
                        </td>
                        <td width="154" style="width:115.45pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:22.7pt">
                            <p class="MsoListParagraphCxSpMiddle" style="margin-left:0in;mso-add-space:
  auto;text-align:justify"><b style="mso-bidi-font-weight:normal"><span style="line-height:115%;font-family:&quot;Times New Roman&quot;,serif"><o:p>&nbsp;</o:p></span></b></p>
                        </td>
                        <td width="117" style="width:87.55pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:22.7pt">
                            <p class="MsoListParagraphCxSpLast" style="margin-left:0in;mso-add-space:auto;
  text-align:justify"><b style="mso-bidi-font-weight:normal"><span style="line-height:115%;font-family:&quot;Times New Roman&quot;,serif"><o:p>&nbsp;</o:p></span></b></p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p class="MsoListParagraphCxSpFirst" style="margin-left:.25in;mso-add-space:auto;
text-align:justify;text-indent:-.25in;line-height:150%;mso-list:l1 level1 lfo3">
                <!--[if !supportLists]--><span style="line-height:150%;font-family:
&quot;Times New Roman&quot;,serif"><span style="mso-list:Ignore">2.</span></span><!--[endif]--><span style="line-height:150%;font-family:
&quot;Times New Roman&quot;,serif">
                    Các công việc <u>KHÔNG</u> bàn giao trong
                    thời gian nghỉ, <u>CÁ NHÂN</u> tự giải quyết online
                    thông qua các công cụ như email:<o:p></o:p>
                </span>
            </p>

            <table class="MsoNormalTable" border="1" cellspacing="0" cellpadding="0" style="
 border-collapse:collapse;
 border:none;
 width: 100%;
 mso-border-alt:solid windowtext .5pt;
 mso-yfti-tbllook:1184;
 mso-padding-alt:0in 5.4pt 0in 5.4pt;
 mso-border-insideh:
 .5pt solid windowtext;
 mso-border-insidev:.5pt solid windowtext
 ">
                <tbody>
                    <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;height:21.25pt">
                        <td width="43" style="width:32.15pt;border:solid windowtext 1.0pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:21.25pt">
                            <p class="MsoListParagraphCxSpMiddle" align="center" style="margin-left:0in;
  mso-add-space:auto;text-align:center">
                                <span style="
  line-height:115%;font-family:&quot;Times New Roman&quot;,serif">STT<o:p></o:p></span>
                            </p>
                        </td>
                        <td width="355" style="width:266.55pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:21.25pt">
                            <p class="MsoListParagraphCxSpMiddle" align="center" style="margin-left:0in;
  mso-add-space:auto;text-align:center">
                                <span style="
  line-height:115%;font-family:&quot;Times New Roman&quot;,serif">
                                    Nội
                                    dung công việc<o:p></o:p>
                                </span>
                            </p>
                        </td>
                        <td width="147" style="width:110.45pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:21.25pt">
                            <p class="MsoListParagraphCxSpMiddle" align="center" style="margin-left:0in;
  mso-add-space:auto;text-align:center">
                                <span style="
  line-height:115%;font-family:&quot;Times New Roman&quot;,serif">
                                    Hướng
                                    xử lý<o:p></o:p>
                                </span>
                            </p>
                        </td>
                        <td width="123" style="width:92.2pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:21.25pt">
                            <p class="MsoListParagraphCxSpLast" align="center" style="margin-left:0in;
  mso-add-space:auto;text-align:center">
                                <span style="
  line-height:115%;font-family:&quot;Times New Roman&quot;,serif">
                                    Ghi
                                    chú<o:p></o:p>
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr style="mso-yfti-irow:1;mso-yfti-lastrow:yes;height:19.1pt">
                        <td width="43" style="width:32.15pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:19.1pt">
                            <p class="MsoListParagraphCxSpFirst" align="center" style="margin-left:0in;
  mso-add-space:auto;text-align:center"><b style="mso-bidi-font-weight:normal"><span style="line-height:115%;font-family:&quot;Times New Roman&quot;,serif"><o:p>&nbsp;</o:p></span></b></p>
                        </td>
                        <td width="355" style="width:266.55pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:19.1pt">
                            <p class="MsoListParagraphCxSpMiddle" style="margin-left:0in;mso-add-space:
  auto;text-align:justify"><b style="mso-bidi-font-weight:normal"><span style="line-height:115%;font-family:&quot;Times New Roman&quot;,serif"><o:p>&nbsp;</o:p></span></b></p>
                        </td>
                        <td width="147" style="width:110.45pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:19.1pt">
                            <p class="MsoListParagraphCxSpMiddle" style="margin-left:0in;mso-add-space:
  auto;text-align:justify"><b style="mso-bidi-font-weight:normal"><span style="line-height:115%;font-family:&quot;Times New Roman&quot;,serif"><o:p>&nbsp;</o:p></span></b></p>
                        </td>
                        <td width="123" style="width:92.2pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:19.1pt">
                            <p class="MsoListParagraphCxSpLast" style="margin-left:0in;mso-add-space:auto;
  text-align:justify"><b style="mso-bidi-font-weight:normal"><span style="line-height:115%;font-family:&quot;Times New Roman&quot;,serif"><o:p>&nbsp;</o:p></span></b></p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p class="MsoListParagraphCxSpFirst" style="margin-left:.25in;mso-add-space:auto;
text-align:justify;text-indent:-.25in;line-height:150%;mso-list:l1 level1 lfo3">
                <!--[if !supportLists]--><span style="line-height:150%;font-family:
&quot;Times New Roman&quot;,serif"><span style="mso-list:Ignore">3.</span></span><!--[endif]--><span style="line-height:150%;font-family:
&quot;Times New Roman&quot;,serif">
                    Các công việc <u>KHÁC</u>, trong thời gian
                    nghỉ <u>QUẢN LÝ TRỰC TIẾP</u> giải quyết:<o:p></o:p>
                </span>
            </p>

            <table class="MsoNormalTable" border="1" cellspacing="0" cellpadding="0" style="
 border-collapse:collapse;
 border:n;
 width: 100%;
 one;
 mso-border-alt:solid windowtext .5pt;
 mso-yfti-tbllook:1184;
 mso-padding-alt:0in 5.4pt 0in 5.4pt;
 mso-border-insideh:
 .5pt solid windowtext;
 mso-border-insidev:.5pt solid windowtext
 ">
                <tbody>
                    <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;height:21.25pt">
                        <td width="43" style="width:32.15pt;border:solid windowtext 1.0pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:21.25pt">
                            <p class="MsoListParagraphCxSpMiddle" align="center" style="margin-left:0in;
  mso-add-space:auto;text-align:center">
                                <span style="
  line-height:115%;font-family:&quot;Times New Roman&quot;,serif">STT<o:p></o:p></span>
                            </p>
                        </td>
                        <td width="355" style="width:266.55pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:21.25pt">
                            <p class="MsoListParagraphCxSpMiddle" align="center" style="margin-left:0in;
  mso-add-space:auto;text-align:center">
                                <span style="
  line-height:115%;font-family:&quot;Times New Roman&quot;,serif">
                                    Nội
                                    dung công việc<o:p></o:p>
                                </span>
                            </p>
                        </td>
                        <td width="147" style="width:110.45pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:21.25pt">
                            <p class="MsoListParagraphCxSpMiddle" align="center" style="margin-left:0in;
  mso-add-space:auto;text-align:center">
                                <span style="
  line-height:115%;font-family:&quot;Times New Roman&quot;,serif">
                                    Hướng
                                    xử lý<o:p></o:p>
                                </span>
                            </p>
                        </td>
                        <td width="123" style="width:92.2pt;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:21.25pt">
                            <p class="MsoListParagraphCxSpLast" align="center" style="margin-left:0in;
  mso-add-space:auto;text-align:center">
                                <span style="
  line-height:115%;font-family:&quot;Times New Roman&quot;,serif">
                                    Ghi
                                    chú<o:p></o:p>
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr style="mso-yfti-irow:1;mso-yfti-lastrow:yes;height:21.25pt">
                        <td width="43" style="width:32.15pt;border:solid windowtext 1.0pt;border-top:
  none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:21.25pt">
                            <p class="MsoListParagraphCxSpFirst" align="center" style="margin-left:0in;
  mso-add-space:auto;text-align:center"><b style="mso-bidi-font-weight:normal"><span style="line-height:115%;font-family:&quot;Times New Roman&quot;,serif"><o:p>&nbsp;</o:p></span></b></p>
                        </td>
                        <td width="355" style="width:266.55pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:21.25pt">
                            <p class="MsoListParagraphCxSpMiddle" style="margin-left:0in;mso-add-space:
  auto;text-align:justify"><b style="mso-bidi-font-weight:normal"><span style="line-height:115%;font-family:&quot;Times New Roman&quot;,serif"><o:p>&nbsp;</o:p></span></b></p>
                        </td>
                        <td width="147" style="width:110.45pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:21.25pt">
                            <p class="MsoListParagraphCxSpMiddle" style="margin-left:0in;mso-add-space:
  auto;text-align:justify"><b style="mso-bidi-font-weight:normal"><span style="line-height:115%;font-family:&quot;Times New Roman&quot;,serif"><o:p>&nbsp;</o:p></span></b></p>
                        </td>
                        <td width="123" style="width:92.2pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:21.25pt">
                            <p class="MsoListParagraphCxSpLast" style="margin-left:0in;mso-add-space:auto;
  text-align:justify"><b style="mso-bidi-font-weight:normal"><span style="line-height:115%;font-family:&quot;Times New Roman&quot;,serif"><o:p>&nbsp;</o:p></span></b></p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
justify;line-height:150%">
                <span style="line-height:150%">
                    *Lưu ý: Các công việc phát sinh ngoài các
                    danh mục 1, 2, 3 được liệt kê trong văn bản
                    này; các công việc thuộc danh mục 2, nhưng không liên hệ
                    được với cá nhân xin nghỉ phép, thì <u>
                        QUẢN
                        LÝ TRỰC TIẾP
                    </u> giải quyết
                </span>
            </p>

            <table class="MsoNormalTable" border="1" cellspacing="0" cellpadding="0" width="100%" style="text-align:center;width:100.0%;border-collapse:collapse;border:none;mso-border-alt:solid windowtext .5pt;
 mso-yfti-tbllook:1184;mso-padding-alt:0in 5.4pt 0in 5.4pt;mso-border-insideh:
 .5pt solid windowtext;mso-border-insidev:.5pt solid windowtext">
                <tbody>
                    <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;height:19.65pt">
                        <td width="32%" style="border:solid windowtext 1.0pt;mso-border-alt:
  solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:19.65pt">
                            <p class="MsoTitle" style="tab-stops:dotted 7.0in">
                                <span style="
  font-family:&quot;Times New Roman&quot;,serif;font-weight:
  normal">Người viết đơn<o:p></o:p></span>
                            </p>
                        </td>
                        <td width="32%" style="width:32.2%;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:19.65pt">
                            <p class="MsoTitle" style="tab-stops:dotted 7.0in">
                                <span style="
  font-family:&quot;Times New Roman&quot;,serif;font-weight:
  normal">Xem xét <o:p></o:p></span>
                            </p>
                        </td>
                        <td width="34%" style="width:34.96%;border:solid windowtext 1.0pt;border-left:
  none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:19.65pt">
                            <p class="MsoTitle" style="tab-stops:dotted 7.0in">
                                <span style="
  font-family:&quot;Times New Roman&quot;,serif;font-weight:
  normal">Phê duyệt<o:p></o:p></span>
                            </p>
                        </td>
                    </tr>
                    <tr style="mso-yfti-irow:1;mso-yfti-lastrow:yes;height:47.15pt">
                        <td width="32%" valign="top" style="width:32.84%;border:solid windowtext 1.0pt;
  border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt;height:47.15pt">
                            <p class="MsoTitle" align="left" style="text-align:left;tab-stops:dotted 7.0in">
                                <span style="font-family:&quot;Times New Roman&quot;,serif;
  font-weight:normal"><o:p>&nbsp;</o:p></span>
                            </p>
                            <p class="MsoTitle" align="left" style="text-align:left;tab-stops:dotted 7.0in">
                                <span style="font-family:&quot;Times New Roman&quot;,serif;
  font-weight:normal"><o:p>&nbsp;</o:p></span>
                            </p>
                            <p class="MsoTitle" align="left" style="text-align:left;tab-stops:dotted 7.0in">
                                <span style="font-family:&quot;Times New Roman&quot;,serif;
  font-weight:normal"><o:p>&nbsp;</o:p></span>
                            </p>
                            <p class="MsoNormal">
                                <span style="
  line-height:107%;mso-fareast-language:VI"><o:p>&nbsp;</o:p></span>
                            </p>
                        </td>
                        <td width="32%" valign="top" style="width:32.2%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:47.15pt">
                            <p class="MsoTitle" align="left" style="text-align:left;tab-stops:dotted 7.0in">
                                <span style="font-family:&quot;Times New Roman&quot;,serif;
  font-weight:normal"><o:p>&nbsp;</o:p></span>
                            </p>
                        </td>
                        <td width="34%" valign="top" style="width:34.96%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt;height:47.15pt">
                            <p class="MsoTitle" align="left" style="text-align:left;tab-stops:dotted 7.0in">
                                <span style="font-family:&quot;Times New Roman&quot;,serif;
  font-weight:normal"><o:p>&nbsp;</o:p></span>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</body>

</html>