@using Microsoft.AspNetCore.Identity
@using it
@using it.Areas.Admin.Models
@addTagHelper *, it
@inject it.Data.ItContext _context
@inject UserManager<UserModel> userManager;
@{
    var user = await userManager.GetUserAsync(User);
    var is_admin = await userManager.IsInRoleAsync(user, "Administrator");
}
<div class="left-sidenav">
    <ul class="metismenu left-sidenav-menu">
        <li>
            <a href="/admin">
                <i class="fas fa-atom"></i>
                <span>Tổng quan</span>
            </a>
        </li>
        <li>
            <a href="javascript: void(0);">
                <i class="fas fa-cog"></i>
                <span>Thiết lập</span>
                <span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
            </a>

            <ul class="nav-second-level" aria-expanded="false">
                <li class="nav-item"><a class="nav-link" href="/admin/processgroup"><i class="ti-control-record"></i>Nhóm Quy trình</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/process"><i class="ti-control-record"></i>Quy trình</a></li>
            </ul>
        </li>
        @if (is_admin)
        {
            <li>
                <a href="javascript: void(0);">
                    <i class="fas fa-cog"></i>
                    <span>Hệ thống</span>
                    <span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span>
                </a>

                <ul class="nav-second-level" aria-expanded="false">
                    <li class="nav-item"><a class="nav-link" href="/admin/user"><i class="ti-control-record"></i>Tài khoản</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/role"><i class="ti-control-record"></i>Phân quyền</a></li>
                </ul>
            </li>
        }
    </ul>
</div>