@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@if (TempData["StatusMessage"] != null)
{
    <div class="alert alert-success icon-custom-alert">
        <i class="mdi mdi-check alert-icon"></i>
        <div class="alert-text">
            @Html.Raw(@TempData["StatusMessage"])
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="mdi mdi-close"></i></span>
        </button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger icon-custom-alert">
        <i class="mdi mdi-close alert-icon"></i>
        <div class="alert-text">
           @Html.Raw(TempData["ErrorMessage"])
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="mdi mdi-close"></i></span>
        </button>
    </div>
}
<div class="row clearfix">
    <div class="col-12">
        <form method="POST" id="form" autocomplete="off">
            <section class="card card-fluid">
                <div class="card-body">

                    <div class="row justify-content-md-center">
                        <div class="col-md-4">
                            <form id="change-password-form" method="post" autocomplete="on">
                                <div class="form-floating mt-2">
                                    <input type="password" name="OldPassword" class="form-control" autocomplete="address-level4" minlength="6" required placeholder="Mật khẩu hiện tại" autocomplete="off" />
                                </div>
                                <div class="form-floating mt-2">
                                    <input type="password" id="password" autocomplete="address-level4" class="form-control" name="NewPassword" minlength="6" required="" placeholder="Mật khẩu mới" autocomplete="off"/>
                                </div>
                                <div class="form-floating mt-2">
                                    <input type="password" class="form-control" autocomplete="address-level4" name="ConfirmPassword" minlength="6" data-rule-equalTo="#password" required="" placeholder="Nhập lại mật khẩu mới" autocomplete="off">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-inline-block w-100 text-center">
                        <button type="submit" class="btn btn-sm btn-primary" style="width:200px">Cập nhật mật khẩu</button>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>

@section Scripts{
     @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
