<!DOCTYPE html>
<html>

<head>
    <style>
        header {
            text-align: center;
            position: relative;
        }
    </style>
</head>

<body>
    <header>
        <table style="width:75%;margin-left:60px;">
            <tr>
                <td>
                    <img style=" width: 72.75pt; height: 48.68pt;" src="/images/LOGO ASTA_doc.png" />
                </td>
                <td>
                    <div class="wcdiv" style="">
                        <div class="wcdiv" style="left:-34.8pt;"><span class="wcspan wctext001" style="font-size:16pt; left:142.49pt; top:10.38pt; line-height:17.72pt; font-weight:bold;">ĐƠN XIN NGHỈ PH&Eacute;P</span></div>
                        <div class="wcdiv" style="left:-34.8pt; top:18.4pt;"><span class="wcspan wctext002" style="font-size: 16pt; left: 147.38pt; top: 10.38pt; line-height: 17.72pt; font-style: italic;">LEAVE APPLICATION</span></div>
                    </div>
                </td>
            </tr>
        </table>
    </header>
</body>

</html>