<!DOCTYPE html>
<html>

<head>

    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        footer {
            border-top: 1px solid #ccc;
            padding: 10px;
            text-align: center;
            position: relative;
        }
    </style>
</head>

<body onload="subst()">
    <footer>
        <table style="width:100%;">
            <tr>
                <td>

                    Mã số phụ lục / Appendix No.
                    <br />
                    0014016_A03_01

                </td>
                <td>
                    Ngày hiệu lực / Appendix effective
                    <br />
                    15/08/2023

                </td>
                <td>
                    Trang / Page
                    <br />
                    <span class="page"></span>/ <span class="topage"></span>
                </td>
            </tr>
        </table>
    </footer>
    <script>
        //As documented here https://wkhtmltopdf.org/usage/wkhtmltopdf.txt
        function subst() {
            var vars = {};
            var query_strings_from_url = document.location.search.substring(1).split('&');
            for (var query_string in query_strings_from_url) {
                if (query_strings_from_url.hasOwnProperty(query_string)) {
                    var temp_var = query_strings_from_url[query_string].split('=', 2);
                    vars[temp_var[0]] = decodeURI(temp_var[1]);
                }
            }
            var css_selector_classes = ['page', 'frompage', 'topage', 'webpage', 'section', 'subsection', 'date', 'isodate', 'time', 'title', 'doctitle', 'sitepage', 'sitepages'];
            for (var css_class in css_selector_classes) {
                if (css_selector_classes.hasOwnProperty(css_class)) {
                    var element = document.getElementsByClassName(css_selector_classes[css_class]);
                    for (var j = 0; j < element.length; ++j) {
                        element[j].textContent = vars[css_selector_classes[css_class]];
                    }
                }
            }
        }
    </script>
</body>

</html>