@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<center>
    <table>
        <tbody>
            <tr>
                <td width="600">
                    <div>

                        <div style="box-sizing:border-box;margin:0;padding:0 40px">
                            <h2 style="text-align:left">Xin chào,</h2>
                            <p style="text-align:left">Có một tin nhắn mới từ Quy Trình. </p>
                            <p><b>@Model.name </b>đã gửi 1 tin nhắn.</p>
                            <p style="background: #e3e3e3;
    padding: 10px;">@Model.text</p>
                            <p>Đường dẫn đến hồ sơ:</p>
                            <p style="text-align:center;">
                                <a href="@Model.link" style="padding: 10px 30px;
    background: #ffb009;
    color: white;
    text-decoration: none;
    font-size: 13px;
    border-radius: 5px;">Xem hồ sơ</a>
                            </p>
                            <p style="text-align:left">Vui lòng đăng nhập trước khi xem hồ sơ</p>
                            <p style="text-align:left">Trân trọng.</p>
                            <p style="text-align:left">ASTA</p>
                            <br>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</center>