@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<center>
    <table>
        <tbody>
            <tr>
                <td width="600">
                    <div>
                        <div style="box-sizing:border-box;margin:0;padding:0 40px">
                            <h2 style="text-align:left">Xin chào,</h2>
                            <p style="text-align:left">Hệ thống chữ ký điện tử ASTA có một yêu cầu thay đổi mật khẩu. </p>

                            <p>Đường dẫn thay đổi mật khẩu:</p>
                            <p style="text-align:center;">
                                <a href="@Model.link" style="padding: 10px 30px;
    background: green;
    color: white;
    text-decoration: none;
    font-size: 13px;
    border-radius: 5px;">Đi đến</a>
                            </p>
                            <p style="text-align:left">Trân trọng.</p>
                            <p style="text-align:left">ASTA</p>
                            <br>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</center>